Requirements and Responsibilities for POS and Inventory Management System

System Requirements
Chrome Browser (Version 120.0.6099.130 or higher)
Internet Connection (For Google Fonts and Bootstrap CDN)
Xampp (For Database)
PHP (Version 7.4.9 or higher)
MySQL (Version 8.0.21 or higher)
Windows 10 (Version 21H1 or higher)

Liblaray and Frameworks Used in the Project
1. Bootstrap
2. SweetAlert2
3. Chart.js
