/* .parent {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 75px 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 3px;
} */

/* .div1 {
    grid-area: 1 / 1 / 2 / 2;
} */

/* .div2 {
    grid-area: 2 / 1 / 3 / 2;
} */

/* faid in fade out animation */
.fadeAnimation {
    animation: fadeIn ease 1s;
    -webkit-animation: fadeIn ease 1s;
    -moz-animation: fadeIn ease 1s;
    -o-animation: fadeIn ease 1s;
    -ms-animation: fadeIn ease 1s;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}


